<footer>
  <p>Copyright © from footer</p>
  <img
    src="https://www.clipartmax.com/png/middle/222-2227861_home-about-menus-twitter-logo-for-footer.png"
    alt="logo image"
  />
  <img src="levis-logo.png" alt="Levis Logo" />
  <p>Links, social icons, and contact info here</p>
  <address>Contact: <a href="mailto:info@levis.com">info@levis.com</a></address>
</footer>
